* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}

.auth-container {
    width: 100%;
    height: 100dvh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.auth-title {
    margin-bottom: 4rem;
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-field {
    width: 100%;
    padding: 1.5rem 1.5rem;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid #b3b7bb;
    outline: none;
    font-family: "Inter", sans-serif;
}

.auth-btn {
    padding: 1.5rem 3rem;
    border-radius: 10px;
    color: #fff;
    background-color: #5BA4E0;
    border: 2px solid #5BA4E0;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.auth-redirect {
    display:inline-flex;
    font-size: 1.6rem;
    gap: 0.5rem;
}

.auth-link {
    color: #5BA4E0;
}

@media screen and (min-width: 768px) {
    .auth-container {
        width: 60%;
        margin: 10rem auto;
        padding: 6rem;
        gap: 2rem;
    }

    .auth-redirect {
        margin-top: 4rem;
    }
}